:root {
  --color-primary: #00a9ff;
  --padding-primary: 25px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1,
h2 {
  font-variant: small-caps;
}
a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
b {
  font-weight: normal;
  color: var(--color-primary);
}
pre {
  font-size: 12px;
}
.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 var(--padding-primary);
}
.navbar {
  background: var(--color-primary);
}
.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
.nav a {
  text-decoration: none;
  color: white;
  padding: var(--padding-primary);
  display: inline-block;
}
.nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.profile {
  padding: var(--padding-primary) 0;
}
.profile-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-primary);
}
.profile .profile-photo {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile .profile-photo img {
  max-width: 250px;
  max-height: 250px;
  display: block;
}
.profile-name {
  font-size: 2rem;
}
.profile-birthday .age {
  margin-left: 10px;
  opacity: 0.5;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.section-title {
  font-size: 1.5rem;
  letter-spacing: 2px;
  position: relative;
  padding-left: 15px;
}

.section-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: var(--color-primary);
}

.section-list {
  list-style: none;
  padding: 0;
}
.section-list li {
  padding-bottom: 10px;
}

footer {
  margin-top: var(--padding-primary);
  color: white;
  background: var(--color-primary);
}
footer a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.copyright {
  margin-right: var(--padding-primary);
}

.rs-logo img {
  height: 50px;
  max-width: 75px;
}
